<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.equipospucp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_equipospucp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_equipospucp_round"
        android:supportsRtl="true"
        android:theme="@style/TemaEquiposPUCP"
        tools:targetApi="31">
        <activity
            android:name=".ElegirUbicacionReserva"
            android:exported="false" />
        <activity
            android:name=".DetalleUsuario"
            android:exported="false" />
        <activity
            android:name=".NuevoUsuarioTI"
            android:exported="false" />
        <activity
            android:name=".NuevaReserva"
            android:exported="false" />
        <activity
            android:name=".DetallesReserva"
            android:exported="false" />
        <activity
            android:name=".DetallesDispositivo"
            android:exported="false"
            android:parentActivityName=".Drawer" />
        <activity
            android:name=".EditarDispositivo"
            android:exported="false"
            android:parentActivityName=".Drawer" />
        <activity
            android:name=".Drawer"
            android:exported="false"
            android:theme="@style/TemaEquiposPUCP.NoActionBar" />
        <activity
            android:name=".CambioContrasenia"
            android:exported="false"
            android:parentActivityName=".InicioSesion" />
        <activity
            android:name=".RegistrarUsuario"
            android:exported="false"
            android:parentActivityName=".InicioSesion">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="com.example.equipospucp.InicioSesion" /> -->
        </activity>
        <activity
            android:name=".InicioSesion"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBNhuMDxLIip2C_YScKk4yrxcKT7FkGMho" />

    </application>

</manifest>